$thin: 100;
$lighter: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;

$lato-font: "Lato", Arial, sans-serif;


html, body {
  font-family: $lato-font;
  font-size: 16px;
}

.hide {
  display: none;
}

.base-layout {
  margin: 0 auto;
}

section.search {
  width: 450px;
  margin: 0 auto;
}

.main-search {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto 15px auto;

  h2 {
    font-size: 32px;
    margin: 0 auto 20px auto;
  }

  .input-wrapper {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px #999;
    border: 0;
    border-bottom: 1px solid #dedede;
    padding: 0 15px 0 15px;
    margin: 0 auto;

    input {
      border: 0;
      padding: 0;
      width: 100%;
      height: 100%;

      &:focus {
        outline: none;
      }
    }
  }

}

.select-panel {
  position: relative;
  display: flex;
  align-items: center;
  width: fit-content;

  label {
    font-weight: $bold;
    margin: 0 10px 0 0;
  }

  .input-wrapper {
    min-width: 150px;
    height: 35px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #dedede;;
    padding: 0 6px 0 6px;
    margin: 0 auto;

    input {
      border: 0;
      padding: 0;
      width: 100%;
      height: 100%;

      &:focus {
        outline: none;
      }
    }
  }

  ul {
    position: absolute;
    right: 0;
    width: 160px;
    padding: 0;
    margin: 0;
    border: 2px solid #dedede;
    border-top: none;
    background: #fff;
    z-index: 1;

    li {
      list-style: none;
      padding: 6px;
      border-bottom: 1px solid #dedede;
      cursor: pointer;

      &:last-child {
        border-bottom: none;
      }

      &.active {
        color: #fff;
        background: #eab3a2;
      }
    }
  }
}


.optional-search {
  display: flex;
  margin: 10px auto 0 auto;
}

.category-search {
  margin: 0 10px 0 0;
}